---
import Layout from "@/layouts/Layout.astro"

import SectionContainer from "@/components/SectionContainer.astro"
import APP from "@/components/App.astro"
import TitleSection from "@/components/TitleSection.astro"
import AboutProject from "@/components/AboutProject.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
// import SvgEducation from "@/components/icons/Education.astro"
---

<Layout
  title="MRI Brain Disease Detection System 🧠"
  description="This is a Computer Vision project that combines the powerful YOLOv8 object detection model with a custom CNN classifier to detect brain diseases in MRI images."
>
  <main class="px-4">
    <SectionContainer id="app-demo" class="py-16 md:py-36">
      <APP>
      </slot>
    </Hero>
    </SectionContainer>
    <SectionContainer id="about-project">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About the Project
      </TitleSection>
      <AboutProject />
    </SectionContainer>
  </main>
</Layout>
