---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      This is the <strong>MRI Brain Disease Detection</strong> System. The Final Degree Project (TFG) will consist of the design and development of an advanced system for medical image analysis, focused on detecting brain pathologies in patients using magnetic resonance imaging (MRI) scans. The main objective of the system is to provide healthcare professionals with an effective tool to accurately and quickly identify and classify brain lesions.
    </p>
  </div>

  <img height="200" src="Sagittal-a-3D-FLAIR-and-the-corresponding-coronal-MPR-b-of-an-FD-patient-with-a.png" alt={personalImageAlt} class="order-1 object-cover w-80 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-80 rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


